<body>
    <video muted autoplay loop id="video_fundo">
        <source src="/img/video.mp4" type="video/mp4" />
     </video>
    <%- include('partials/header.ejs') -%>
    <section id="convidar">
        
        <h1>Movendo "A gente consegue!" "Se mantenha positivo." "Iluminando o caminho." "Vamos à batalha com corações flamejantes!." "O mundo já viu escuridão por tempo demais." "Se você pode sorrir, pode também iluminar." "Lar é onde a fagulha descansa." "Ooh, eu nunca estive aqui antes." "Brilhe comigo." "A luz me segue aonde quer que eu vá</h1>
        <button id="add_bot" onclick="addBot()"><span id="text_btn"> ADD BOT NO SEU SERVIDOR</span></button>
        <button id="commands_bot" onclick="commandsBot()"><img id="img_gif" src="/img/ggg.gif" alt=""><span id="text_btn"> VER COMANDOS DO BOT</span></button></section><script src="/scripts/function.js"></script>
</body>
<%- include('partials/footer.ejs') -%>
