<body>
    <%- include('partials/headerlogin.ejs') -%>
    <video muted autoplay loop id="video_fundo">
        <source src="/img/video1.mp4" type="video/mp4" />
    </video>
    <section id="convidar">
        VOCÊ LOGOU COM SUCCESSO
    </section>
</body>
<%- include('partials/footer.ejs') -%>